package $daoImplPath;

import org.apache.ibatis.session.SqlSession;
import $entityPath.$className;
import $daoPath.$daoInterfaceName;
#set($left = "(")
#set($right = ")")

/**
 *
 * @author 
 * @date $date
 */
public class $daoClassName implements $daoInterfaceName {	
	
	private SqlSession sqlSession;
	
	public $className selectByPrimaryKey($idType $idVar) {
		if ($idVar == null) {
			return null;
		}
		return sqlSession.selectOne("$className.selectByPrimaryKey", $idVar);
	}
	
	public int insert($className entity) {
		if (entity == null) {
			return 0;
		}
		return sqlSession.insert("$className.insert", entity);
	}
	
	public int update($className entity) {
		if (entity == null) {
			return 0;
		}
		return sqlSession.update("$className.update", entity);
	}

}
